@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
    background: #eef9bf;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
    margin-bottom: 45px;
}

.fundo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.tabuleiro {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.seletor {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

.carta {
    width: 117px;
    height: 146px;
    position: relative;
    margin-bottom: 40px;
}

.face {
    width: 100%;
    height: 100%;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.carta img {
    width: 100px;
    height: 100px;
}

.back-face {
    transform: rotateY(180deg);
}

.virar {
    transform: rotateY(-180deg);
}

.desvirar {
    transform: rotateY(0deg);
}

.relogio {
    width: 200px;
    height: 80px;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 50px;
    margin-top: 30px;
    background: cadetblue;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: white;
}